<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122967614539-uksd758vlol66elffccd4h4128glvqcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122967614539-uksd758vlol66elffccd4h4128glvqcb</string>
	<key>API_KEY</key>
	<string>AIzaSyAWM82sXKKSX9h2OEboK4jrWtp9r-O-urI</string>
	<key>GCM_SENDER_ID</key>
	<string>122967614539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seniorResearchAppNew</string>
	<key>PROJECT_ID</key>
	<string>cash-bunny</string>
	<key>STORAGE_BUCKET</key>
	<string>cash-bunny.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122967614539:ios:9429f44fdc9ae1466c59ce</string>
</dict>
</plist>